<div class="row">
  <div class="twelve columns league-show__control-buttons">
    <%= link_to "Invite New Member", new_league_membership_path(@league), class: "button nav-button" %>
    <%= button_to "New Season", league_seasons_path(@league), class: "button button-primary nav-button" %>
  </div>
  <div class="twelve columns">
    <h2><%= @league.name %></h2>
    <p>Seasons: <%= @league.seasons_count %></p>
    <%= link_to "View Members", league_memberships_path(@league) =%>
  </div>
</div>
