<div class="columns is-centered">
  <div class="column is-half">
    <h1 class="is-size-2">Sign Up for Polker!</h1>
    <%= form_with model: @user do |f| %>
      <div class="field">
        <%= f.label :email, "Email Address", class: "label" %>
        <div class="control">
          <%= f.text_field :email, class: "input" %>
        </div>
      </div>
      <div class="field">
        <%= f.label :password_digest, "Password", class: "label" %>
        <div class="control">
          <%= f.password_field :password_digest, class: "input" %>
        </div>
      </div>
      <div class="field">
        <p class="control">
          <%= f.submit "Let's Go!", class: "button is-primary" %>
        </p>
      </div>
    <% end %>
  </div>
</div>
