<%= f.label :email, "Email Address" %>
<%= f.text_field :email, class: "u-full-width" %>
<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
<%= f.label :password, "Password", class: "form-label" %>
<div class="control">
  <%= f.password_field :password, class: "u-full-width" %>
</div>
<%= f.submit "Let's Go!", class: "button-primary" %>
